@import "base.scss";
//@import "../../node_modules/material-design-icons/iconfont/material-icons.css";
#application, .applicationBoby {
  height: 100%;
}

$topColor:#00BCD4;

.applicationBoby {
  display: flex;
  flex-direction: column;
}

.homeTop {
  background-color: #ff4081;
}

.homeMiddle {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #1D262C;
}

.homeBottom {
  height: 60px;
  display: flex;
  background-color: white;
}

.homeLeft{
  width:250px;
  background-color: #F4F4F4;
  overflow-y: auto;
  overflow-x: hidden;
}

.homeRight{
  flex:1;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
}

.test{
  background-color: red;
}

.icon_add:before {
  @extend .material-icons;
  content: "\e145";
}

.icon_chevron_right:before{
  @extend .material-icons;
  content: "\e5cc";
}



.icon_play_item:before{
  @extend .material-icons;
  @include icon_button(red);
  content: "\e037";
}

.icon_pause:before{
  @extend .material-icons;
  @include icon_button($topColor);
  content: "\e034";
}

.icon_play:before{
  @extend .material-icons;
  @include icon_button($topColor);
  content: "\e037";
}

.icon_previous:before{
  @extend .material-icons;
  @include icon_button($topColor);
  content: "\e045";
}

.icon_next:before{
  @extend .material-icons;
  @include icon_button($topColor);
  content: "\e044";
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #00BCD4;
}