<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link href="js/index.css" rel="stylesheet" />-->
    <link href="<%= htmlWebpackPlugin.options.server %>/dist/js/index.css" rel="stylesheet" />
    <link href="<%= htmlWebpackPlugin.options.server %>/dist/vendor.css" rel="stylesheet" />

</head>
<body>
    <div id="application"></div>
    <!--<script src="vendor.dll.js"></script>-->
    <!--<script src="js/index.js"></script>-->
    <script src="<%= htmlWebpackPlugin.options.server %>/dist/vendor.dll.js"></script>
    <script src="<%= htmlWebpackPlugin.options.server %>/dist/js/index.js"></script>

</body>
</html>