<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eMusic</title>
    <link href="<%= htmlWebpackPlugin.options.debug?htmlWebpackPlugin.options.server:'' %>js/index.css" rel="stylesheet" />
    <link href="<%= htmlWebpackPlugin.options.debug?htmlWebpackPlugin.options.server:'' %>vendor.css" rel="stylesheet" />
</head>
<body>
    <div id="application"></div>
    <script src="<%= htmlWebpackPlugin.options.debug?htmlWebpackPlugin.options.server:'' %>vendor.dll.js"></script>
    <script src="<%= htmlWebpackPlugin.options.debug?htmlWebpackPlugin.options.server:'' %>js/index.js"></script>
</body>
</html>